.header__container {
  padding: 57px 10.4% 0 10.4%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.header__container > :nth-child(3) {
  display: flex;
  margin-left: auto;
}

.header__logo {
  font-size: 12px;
  line-height: 12px;
  width: 140px;
  color: #646368;
}

.header__logo > p {
  margin-top: 10px;
  font-size: 10px;
}

.header__links {
  font-family: 'inter';
  padding: 5px 0 0 4.4%;
  margin: 0;
  display: flex;
  gap: 2.2vw;
  font-size: 16px;
}

.header__links > li > :nth-child(1) {
  text-decoration: none;
  color: #e4e5ea;
}

@media (max-width: 1240px) {
  .header__container {
    padding: 57px 5% 0;
  }
  .header__container > :nth-child(3) {
    display: none;
  }
}

@media (max-width: 800px) {
  .header__container {
    justify-content: center;
  }
  .header__logo {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__container {
    padding: 12px 0;
    background-color: #0e1014;
  }
  .header__links {
    gap: 10px;
    font-size: 15px;
  }
  .certificate {
    display: none;
  }
}
